.nav{
    color: white;
    margin: 30px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo{
    font-size: 42px;
    font-weight: bold;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
}

.nav-contact{
    border-radius: 50px;
    padding: 10px 38px;
    background: white;
    color: black;
}